.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  /* overflow: hidden; Ukryj elementy wychodzące poza kontener */
}

/* Nagłówek wykresu */
.chart-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #4a90e2;
}

/* Styl dla samego wykresu */
.chart-wrapper {
  position: relative;
  width: 100%; /* Ustaw szerokość kontenera na 100% */
  height: 0; /* Ustaw wysokość na 0, aby kontrolować przez padding */
  padding-bottom: 56.25%; /* 16:9 ratio (9/16 = 0.5625) */
}

.chart-wrapper canvas {
  position: absolute; /* Ustaw canvas na absolutne pozycjonowanie */
  top: 0; /* Wyrównanie do góry */
  left: 0; /* Wyrównanie do lewej */
  width: 100% !important; /* Wymuś 100% szerokości */
  height: 100% !important; /* Wymuś 100% wysokości */
}

/* Animacje i efekty interakcji */
.chart-container .chartjs-render-monitor {
  transition: all 0.3s ease;
}
